.MovieCard {
    position: relative;
}

.MovieCard-box {  /* Figure */
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.MovieCard-poster {  /* Image */
   display: block;
   width: 100%;
   max-height: 40rem; 
   border-top-left-radius: .6rem;
   border-top-right-radius: .6rem;
}

.MovieCard-info {  /* Figcaption */
    padding: 2rem;
    display: grid;
    grid-gap: 1rem;
}

.MovieCard-title {
    font-size: 1.6rem;
    font-weight: bold;
   /*  width: 100%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MovieCard-alt-heading {
    font-size: 1.6rem;
    font-weight: bold;
}

.MovieCard-date {  /* Span */
    font-size: 1.6rem;
}

.MovieCard-summary {
    font-size: 1.6rem;
    font-weight: 300;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MovieCard-btn {
    font-size: 1.6rem;
    background-color: rgb(0, 128, 128);
    color: #fff;
    padding: 1rem 1.25rem;
    font-family: inherit;
    margin-top: 1rem;
}

.MovieCard-btn:hover {
    cursor: pointer;
    background-color: rgb(3, 110, 110);
}

@media (min-width: 48em) {  /* 768px */
    .MovieCard-title {
        font-size: 1.8rem;
    }

    .MovieCard-alt-heading {
        font-size: 1.8rem;
    }

    .MovieCard-summary {
        font-size: 1.8rem;
    }
}